.menu-section {
    padding: 1rem;
    background: white;
    color: #222;
    width: auto;
    height: 100vh;
  }
  
  .menu-table {
    width: 100%;
    border-collapse: collapse;
    color: black;
  }
  
  .menu-table th,
  .menu-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    font-size: 0.95em;
    color: black;
  }
  
  .menu-table th {
    background-color: #f5f5f5;
    color: black;
  }
  